<div class="flex flex-col">
  <ui-comment-item *ngFor="let comment of comments"
                   [author]="comment.author"
                   [comment]="comment.text"
                   [showButtons]="ownComment(comment)"
                   [votes]="comment.votes"
                   [rating]="getRating(comment)"
                   (onCommentDeleteClick)="onCommentDeleteClick(comment.commentId)"
                   (onCommentEditClick)="onCommentEditClick(comment.commentId)"
                   (onLikeClick)="onLike(comment.commentId)"
                   (onDislikeClick)="onDislike(comment.commentId)"
                   class="pb-4"

  ></ui-comment-item>
</div>
